<form action="/addtodo" method="post">
    <p>
        <label for="task">Task:</label><br>
        <input name="task" type="text">
    </p>
    <p>
        <label for="description">Task:</label><br>
        <input name="description" type="text">
    </p>
</form>