<%- include commons/header.ejs %>
  <main>
    <ol>
        <% for(var i=0; i < tasks; i++) {%>
          <li>
            <h3>
              <% name %>
            </h3>
            <p>
              <% description %>
            </p>
          </li>
        <% } %>
    </ol>
  </main>
<%- include commons/footer.ejs %>