<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INDEX</title>
  </head>
  <body>
    <%- include commons/header.ejs %>

    <ol>
        <% for(var i=0; i < tasks; i++) {%>
          <li>
            <h3>
              <% name %>
            </h3>
            <p>
              <% description %>
            </p>
          </li>
        <% } %>
    </ol>
      
    
    <%- include commons/footer.ejs %>

  </body>
</html>
