<%- include commons/header.ejs %>
  <main>
    <ol>
        <% tasks.forEach(function(item, index) {%>
          <li>
            <h3><%= item.name %></h3>
            <p><%= item.description %></p>
          </li><br>
        <% }); %>
    </ol>
  </main>
<%- include commons/footer.ejs %>